@model Handsonmvc.Models.User
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<h1> welcome @Html.DisplayFor(m=>m.name)</h1>
@Html.ActionLink("Logout","Login","User")

