
<h1 [innerText]="obj.Name"></h1>
    <table>
    <tr>
        <td>Name</td>
        <td><input type="text" [value]='obj.Name'></td>
    </tr>
    <tr>
        <td>Contact</td>
        <td><input type="number" [value]='obj.Contact'></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><input type="text" [value]='obj.Email'></td>
    </tr>
    <tr>
        <td>City</td>
        <td><input type="text" [value]='obj.City'></td>
    </tr>
    <tr>
        <td><Address></Address></td>
        <td><input type="text" [value]='obj.Address'></td>
    </tr>
    </table>
    <a href='url' >Google</a>



