<h1 [innerText]="item.sname"></h1>
    <table>
    <tr>
        <td>Name</td>
        <td><input type="text" [value]='item.sname'></td>
    </tr>
    <tr>
        <td>Age</td>
        <td><input type="number" [value]='item.Age'></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="text" [value]='item.sid'></td>
    </tr>
    <tr>
        <td>date</td>
        <td><input type="text" [value]='item.Dob'></td>
    </tr>
    <tr>
        <td>std</td>
        <td><input type="text" [value]='item.std'></td>
    </tr>
    </table>



