<p [ngStyle]="getstyle()">employee works!</p>
<button (click)="onclick"
<table>
    <thead>
        <tr>
            <th colspan="2">Employee Details</th>
        </tr>
    </thead>
    <tr>
    <td>
        Firstname
    </td>
    <td>{{firstname}}</td>
    </tr>
    <tr>
    <td>
        LastName
    </td>
    <td>{{lastname}}</td>
    </tr>
    <tr>
    <td>
        Email
    </td>


    <td>{{Email}}</td>
    </tr>
    <tr>
    <td>
        Age
    </td>
    <td>{{Age}}</td>
    </tr>

</table>
